@import "tailwindcss";
@plugin "daisyui" {
  themes: all, light --default;
}

.link-active {
  @apply font-bold;
}

body {
  background: url('/assets/background.png') repeat;
  background-color: #f9f9fb;
  font-family: "Numans", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}